* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(0, 125, 202);
  height: 100vh;
  width: 100vw;
}
h1{
  font-size: 3rem;
  text-align: center;
  padding-top: 170px;
}

#root{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container{
  position: relative;
  width: 500px;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-color: rgba(109, 128, 255, 0.395);
  border-radius: 10px;
}

.container > button{
  background-color: rgba(109, 255, 236, 0.58);
  border: 2px solid greenyellow;
  border-radius: 10px;
  height: 20%;
  width: 20%;
  margin: 20px;
  margin-bottom: 40px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.container>button:active{
  transform: scale(110%);
}

.display{
  position: absolute;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 248, 220, 0.876);
  align-self: flex-start;
  border-radius: 10px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 2rem;
}


@media only screen and (max-width: 530px) {
  .container{
    height: 200px;
    width: 300px;
  }
  .display{
    width: 60%;
    height: 40%;
    font-size: 1.5rem;
  }
  .container>button{
    font-size: .8rem;
  }
}